<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Chats</h1>
    <form action="/chat/new" method="get">
        <button id="button">New chat</button>
    </form>
    <div id="cont">
        <% for(let chat of chats){ %>
            <div class="chat">
                <div id="detail">
                    <span>From:<%=chat.from%></span>
                    <span class="span2">To:<%=chat.to%></span>
                </div>
                <div id="msg">
                    <%=chat.msg%> 
                    <div>
                        <form action="/chat/<%=chat.id%>/edit" method="get">
                            <button>Edit</button>
                        </form>
                        <form action="/chat/<%=chat.id%>?_method=DELETE" method="post">
                            <button>Delete</button>
                        </form>
                    </div>
                </div>
                <div id="date">
                    <%if(chat.update_at==null){%>
                        <%=chat.created_at.toString().split(" ").slice(1,5).join(" ");%>
                    <%}
                    else{%>
                        <%=chat.update_at.toString().split(" ").slice(1,5).join(" ");%>
                    <%}%>

                </div>
            </div>
        <% } %>
    </div>
    <br><br><br><br><br>
</body>
</html>